@model RosteringSystem.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.ShiftId, new SelectList(Model.AvailShiftList, "Id", "Id"), "Shift ID")
    @Html.DropDownListFor(m => m.StaffId, new SelectList(Model.StaffList, "Id", "FirstName"), "Staff Name")
    <input type="submit" value="Assign" class="btn btn-default" />
}

<table class="table table-bordered table-striped">
    <tr>
        <th>ShiftId</th>
        <th>Start</th>
        <th>End</th>
        <th>Job</th>
        <th>Role</th>
        <th>Capacity</th>
        <th>Vacancy</th>
    </tr>
    @foreach (var sm in Model.AvailShiftList)
    {
        <tr>
            <td>@sm.Id</td>
            <td>@sm.Start</td>
            <td>@sm.End</td>
            <td>@sm.Job.Name</td>
            <td>@sm.Role.Name</td>
            <td>@sm.Capacity</td>
            <td>@sm.Vacancy</td>
        </tr>
    }
</table>