@model RosteringSystem.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table class="table table-bordered" id="table-add-staff">
    @using (Html.BeginForm())
    {
        <tr>
            <td>@Html.DropDownListFor(m => m.ShiftId, new SelectList(Model.AvailShiftList, "Id", "Id"), "Shift ID", new { @id = "ShiftId", @class = "form-control" })</td>
            <td>@Html.DropDownListFor(m => m.StaffId, new SelectList(string.Empty, "Value", "Text"), "Staff Name", new { @id = "StaffId", @class = "form-control" })</td>
            <td><input type="submit" value="Assign" class="btn btn-info" /></td>
        </tr>
    }
</table>

<table class="table table-bordered table-striped">
    <tr>
        <th>ShiftId</th>
        <th>Start</th>
        <th>End</th>
        <th>Job</th>
        <th>Role</th>
        <th>Capacity</th>
        <th>Vacancy</th>
    </tr>
    @foreach (var sm in Model.AvailShiftList)
    {
        <tr>
            <td>@sm.Id</td>
            <td>@sm.Start</td>
            <td>@sm.End</td>
            <td>@sm.Job.Name</td>
            <td>@sm.Role.Name</td>
            <td>@sm.Capacity</td>
            <td>@sm.Vacancy</td>
        </tr>
    }
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ShiftId").change(function () {
                $("#StaffId").empty();
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("GetAvailStaffForShift")',

                    dataType: 'json',

                    data: { id: $("#ShiftId").val() },

                    success: function (response) {
                        $.each(response,
                            function (i, elem) {
                                $("#StaffId").append('<option value="' +
                                    elem.Value +
                                    '">' +
                                    elem.Text +
                                    '</option>');
                            });
                    },

                    error: function (ex) {
                        alert('Failed to retrieve Staff IDs.' + ex);
                    }
                });
            })
        });
    </script>
}