@model IEnumerable<RosteringSystem.Data.Models.Staff>

<table id="v2-staff-list-table" class="table table-bordered table-hover">
    <tr>
        <th>Staff ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="2">Action</th>
    </tr>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                <td><button onclick="return DeleteStaff(@s.Id)">Delete</button></td>
                <td><button onclick="return PopUpData(@s.Id)">Update</button></td>
            </tr>
        }
    </tbody>
</table>
