@model RosteringSystem.ViewModels.StaffViewModel
@{
    ViewBag.Title = "Staff";
}
@Scripts.Render("~/Scripts/StaffViewModel.js")
<h2>Add a New Staff</h2>
@using (Html.BeginForm("Staff", "Index", FormMethod.Post, new { onsubmit = "return AddNewStaff()", id = "form-add" }))
{
    <div class="row">
        <div class="col-md-1">@Html.LabelFor(m => m.FirstName)</div>
        <div class="col-md-2">@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })</div>
        <div class="col-md-1">@Html.LabelFor(m => m.LastName)</div>
        <div class="col-md-3">@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</div>
        <div class="col-md-1">@Html.LabelFor(m=>m.RoleList)</div>
        <div class="col-md-2">@Html.DropDownListFor(m => m.RoleIdSelected, new SelectList(Model.RoleList, "Id", "Name"), "----Select Role----", new { @class = "form-control" })</div>
        <div class="col-md-1"><input type="submit" class="btn btn-info" value="Add"></div>
    </div>
}

<h3>Staff List</h3>
<!--------DIV FOR STAFF LIST-----AJAX UPDATE-------------------->
<div class="v2-staff-list-div"></div>
<!------------------POP UP DIV------------------------------------------>
<div id="div-pop-up-update-staff"></div>
@*<div id="fill-body"></div>*@
<style>
    #div-pop-up-update-staff{
        position: fixed;
        top: 30%;
        left: 40%;
        background-color: white;  
    }
    #fill-body{
        display:block;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        position: fixed;
        background-color: #000000b3;
    }
</style>





